
.holder{
    position:relative;
}


.godzilla-img {
    position:absolute;
    top: 200px;
    right: 175px;
    width: 33%;
}

.funkybox{
    position: absolute;
    top: 350px;
    right: 200px;
    height:300px;
}

.textbox{
    position: absolute;
    top: 480px;
    right: 265px;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(238, 68, 17);
}